<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= product.name %></h1>
    <p><%= product.description %></p>
    <p><%= product.formatted_price %></p>
  </div>
<% end %>


<%= link_to "New Product", new_product_url %>
